.body {
  @include edItem(100,100,55);
  @include padding(3);
  @include offset(0,0,20);

  padding-top: 1.5em;
  padding-bottom: 2em;

  @include to(l) {
    @include padding(1);
  }

  &.bodyTwo {
    @include edItem(100,100,80);
    @include offset(0,0,20);
    @include padding(0);
    padding-top: 0;
    padding-bottom: 0;
  }
}

.post {
  padding-top: 15px;
  margin-bottom: 1.5em;
  background: #fff;
  border: 1px solid darken($bg, 10%);
  border-radius: 2px;

  &__head {
    @include edContainer;

    height: em(65px);
    max-height: em(65px);

    &__profile {
      @include edItem(30,15,15);
      @include mainCenter;
      @include crossCenter;

      &__img {
        @include circle;
        width: em(55px);
        height: em(55px);
      }
    }

    &__username {
      @include edItem(50,70,70);
      @include crossCenter;

      &__name {
        font-weight: $semibold;
        font-size: 1.05em;
        color: $azul;
        margin: 0;

        span {
          font-weight: $light;
          color: darken($gris, 5%);
        }
      }
    }

    &__date {
      @include edItem(20,15,15);
      @include mainCenter;
      @include crossCenter;

      &__time {
        font-weight: $light;
        color: darken($gris, 5%);
        text-align: center;
        margin: 0;
      }
    }
  }

  &__body {
    @include edContainer;

    &__content {
      @include edItem(100,100,100);
      margin-top: $gutter;
      margin-bottom: 30px;

      &__text {
        font-size: .95em;
        color: $gris3;
        margin: 0;
      }
    }
  }

  &__footer {
    // padding-top: $gutter;
    // padding-bottom: 30px;
    background: lighten($azul2, 30%);

    &__addcomment {
      @include edContainer;
      background: $bg;
      padding-top: $gutter;
      padding-bottom: $gutter;

      &__box {
        @include edItem(80,80,85);
        @include padding(0);

        &__input {
          border: none;
          appearance: none;
          outline: none;
          width: 100%;
          background: none;
          padding-left: $gutter;
          padding-top: 10px;
          padding-right: $gutter;
          padding-bottom: 10px;
          line-height: 1.5em;
          border-radius: 2px;
          color: $gris3;
        }

        &__input:focus {
          background: darken($bg, 10%);
        }
      }

      &__send {
        @include edItem(20,20,15);
        @include padding(0);

        &__button {
          border: none;
          appearance: none;
          outline: none;
          width: 100%;
          height: 100%;
          text-align: center;
          line-height: 1.5em;
          background: darken($azul2, 10%);
          color: #fff;
          transition: .3s all;
        }

        &__button:hover {
          background: darken($azul2, 20%);
        }

        &__button:active {
          background: darken($azul2, 30%);
        }
      }
    }

    &__comment {
      @include edContainer;
      padding-top: $gutter;
      padding-bottom: $gutter;
      border-bottom: 1px solid lighten($azul2, 25%);

      &__profile {
        @include edItem(25,20,15);
        @include crossCenter;
        @include mainCenter;

        &__img {
          @include circle;

          width: 43px;
          height: 43px;
        }
      }

      &__username {
        @include edItem(55,60,25);
        @include crossCenter;

        &__name {
          color: $azul;
          margin: 0;
          font-weight: $semibold;
          font-size: 0.9em;
        }
      }

      &__content {
        @include edItem(100,100,50);

        color: $gris3;
        font-size: 0.9em;

        @include to(l) {
          order: 2
        }
      }

      &__date {
        @include edItem(20,20,10);
        @include crossCenter;

        @include to(l) {
          order: 1;
        }

        &__time {
          font-weight: $light;
          color: darken($gris, 5%);
          text-align: center;
          margin: 0;
        }
      }
    }
  }
}
