#top {
  @include edContainer();
  @include full;

  height: em(64px);
  line-height: 54px;
  background: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid $gris2;

  position: fixed;
  width: 100%;
  z-index: 99;
  top: 0;

  @include to(l) {
    box-shadow: 0px 0px 5px $gris;
  }

}
.toggle-menu,
.logo,
.search,
.tools {
  height: 100%;
}

.toggle-menu {
  @include edItem(15,10,20);
  @include showTo(l);

  background: red;
  text-align: center;
  cursor: pointer;
}

.logo {
  @include edItem(30,15,20);

  &__img {
    height: 100%;
  }
}

.search {
  @include edItem(100,50,60);
  @include showFrom(m);
  @include mainCenter;
  @include crossCenter;

  &__input {
    border: none;
    appearance: none;
    outline: none;
    width: 80%;
    height: 35px;
    font-size: 1.05em;

    background: none;
    padding: 10px;
    border-radius: 2px;
    transition: .2s all;
  }

  &__input:focus {
    background: darken($bg, 3%);
  }
}

.tools {
  @include edItem(55,25,20);
  @include mainEnd;

  &__profile {
    @include noPaddingContainer;
    @include mainEnd;
    @include circle;
    overflow: hidden;
    width: em(53px);
    height: em(53px);
    cursor: pointer;
  }

  &__options {
    width: 20%;
    position: fixed;
    z-index: 99;
    background: #fff;
    top: em(70px);
    padding-left: $gutter;
    padding-top: $gutter;
    padding-right: $gutter;
    padding-bottom: 5px;
    border-radius: 2px;
    box-shadow: 0px 2px 5px $gris2;
    transition: .3s all;

    display: none;

    @include to(l) {
      width: 25%;
    }

    @include to(m) {
      width: 55%;
    }

    &__menu {
      margin: 0;
      padding: 0;
      list-style: none;

      &__list {
        line-height: 2em;
        margin-bottom: 10px;
        padding-left: 10px;
        border-radius: 2px;
      }

      &__list:hover {
        background: lighten($gris, 30%);
      }

      &__link {
        color: darken($gris2, 15%);
        font-size: .9em;
        display: block;
      }

      &__link:hover {
        text-decoration: none;
        color: $azul2;
      }
    }

    &.showToolsOptions {
      display: block;
    }
  }
}
