/**
  EDgrid es una librería CSS para construir layouts con Responsive Web Design
  Importe este archivo en su proyecto para empezar a usarlo
**/

//Funciones para convertir px a em y rem
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import "components/functions";
// Variables globales (puede sobreescribirlas antes de importar ED grid)
// No las sobreescriba aquí, sino desde su proyecto.
  $cssCore    : false  !default; //Compila todo el css (no recomendado si se trabaja con sass).
  $cssHelpers : true  !default; //Ayudas extras para el layout (para alinear elementos, limpiar los floats, controlar el padding, etc...) Se recomienda activarlo.
  $buttons    : true  !default;
  $devMode    : false !default; //Ayuda visual que nos permite ver en el navegador breakpoints, el tamaño de los elementos, el area disponible etc...

// Selectores (clases) para flex-container y flex-item

  $container : container !default; // Permite modificar el nombre de las clases usadas como contenedor e item.
  $item      : item !default;

// Ancho máximo para los contenedores
  $max-width : 1200px !default;

// Seperación horizontal entre items (*2)
  $gutter : 1rem !default;

// Breakpoints
  $breakpoints : (
    s  : 0,
    m  : 640px,
    l  : 1024px,
    xl : 1440px
  ) !default;

// Fracciones para calcular anchos de los items
  $fractions : 3 6 !default;

//Fonts
  $light: 300;
  $regular: 400;
  $semibold: 600;
  $bold: 700;

//Colors
  $azul: #5977B4;
  $azul2: #65BFF3;
  $azul3: #EAEAF1;
  $gris: #9EA7B5;
  $gris2: #B7B7CB;
  $gris3: #5B606D;
  $bg: #F9FAFC;
  $purple: #A878D3;
  $yellow: #F5D592;
  $pink: #DD687F;

// Importar componentes
@import "components/base";            // estilos base
@import "components/media-queries";   // mixins from(), to(), fromTo()
@import "components/helpers";         // utilidades
@import "components/dev";             // modo dev
@import "components/core";            // core de EDgrid (containers y items)
@import "components/grid";            // mixin grid()
@import "components/visibility";      // mixins para visibilidad
@import "components/video";           // video RWD
//@import "components/ed-menu";         // estilos para menus
@import "components/flexbox";         // utilidades con flexbox
@import "components/offset";          // offsets
@import "components/buttons";         // mixin button()
@import "components/css-core";        // componentes que se compilaran por default a css
@import "components/css-helpers";     // ayudas en css (por medio de clases)
@import "components/grid-v3";         // ayudas en css (por medio de clases)
@import "components/layout";          // l-block y l-section
@import "components/easy/top";
@import "components/easy/main";
@import "components/easy/menubar";
@import "components/easy/body";
@import "components/easy/sidebar";
@import "components/easy/clases";
